.bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    &__content {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}