@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin abscenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
Media Manager

phone < 600px
tab-port < 900px
tab-land < 1200px
big-screen > 1800px
1em = 16px
*/


@mixin respond($input) {
    @if $input==phone {
        @media (max-width:37.5em) {
            @content;
        }
    }

    @if $input==tab-port {
        @media (max-width:56.25em) {
            @content;
        }
    }

    @if $input==tab-land {
        @media (max-width:75em) {
            @content;
        }
    }

    @if $input==big-screen {
        @media (min-width:112.5em) {
            @content;
        }
    }
}