@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}
header {
  font-size: 3em;
  text-align: center;
  padding: 0.6em;
  font-weight: lighter;
  background: white;
  border-bottom: 0.05em black solid;
}
body {
  background: #272429;
}
main,
footer {
  color: white;
}
footer {
  height: 100%;
  position: relative;
}
.score {
  position: relative;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
  width: 16em;
  height: 10em;
  border: white 0.4em solid;
  margin-top: 2em;
  border-radius: 0.4em;
}
.value {
  font-size: 8em;
}
.text {
  background-color: red;
  width: max-content;
  border-radius: 0.4em;
  padding: 0.2em;
}
.user {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.comp {
  right: 0;
  transform: translate(50%, -50%);
  position: absolute;
  top: 50%;
}

.message {
  text-align: center;
  padding: 0.5em;
  font-size: 2em;
}
.name {
  display: inline-block;
  text-align: center;
}
.choice {
  position: relative;
  left: 50%;
  width: max-content;
  height: auto;
  transform: translateX(-50%);
}

.play {
  transform: scale(0.8);
  padding: 1em;
  margin: 0em;
  border: #dedede solid 0.4em;
  transition: ease-in-out 0.3s;
  border-radius: 50%;
}
.play:hover {
  cursor: pointer;
  transform: scale(1);
}
.dev {
  position: fixed;
  text-align: center;
  margin-top: 4em;
  font-size: 0.8em;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%);
}
.dev > a {
  color: white;
  text-decoration: none;
}
