.header {
    background: $color-grey-dark-1;
    grid-column: full-start/col-end 6;
    background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url("../img/hero.jpeg");
    background-size: cover;
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr min-content minmax(min-content, 6rem) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 1.5rem;

    @media only screen and (max-width:$bp-medium) {
        grid-column: 1/-1;
    }

    @media only screen and (max-width:$bp-small) {
        padding: 5rem;
    }

    &__logo {
        justify-self: center;
        height: 3rem;
    }

    &-btn {
        align-self: start;
        justify-self: start;
    }

    &__seenon-text {
        display: grid;
        font-size: 1.6rem;
        color: $color-grey-light-2;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1.5rem;
        align-items: center;

        &::before,
        &::after {
            content: "";
            height: 1px;
            display: block;
            background-color: currentColor;
        }
    }

    &__seenon-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
        justify-items: center;
        align-items: center;

        img {
            max-height: 2.5rem;
            max-width: 100%;
            filter: brightness(70%);
        }
    }
}